<template>
    <div class="text-center">
        <img v-if="userAvatar" :src="userAvatar" class="img-responsive rounded-circle" width="96px" height="96px">
        <button id="pick-avatar" type="submit">Select an image</button>
        <avatar-cropper
                @uploaded="handleUploaded"
                trigger="#pick-avatar"
                upload-url="/users/upload" />
    </div>
</template>

<script>
    import AvatarCropper from "vue-avatar-cropper"
    export default {
        name:'avatar',
        components: { AvatarCropper },
        data() {
            return {
                userAvatar: undefined,
            }
        },
        methods: {
            handleUploaded(resp) {
                this.userAvatar = resp.relative_url;
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style scoped>

</style>