<template>
    <el-button
            @click="open3">
        成功
    </el-button>
</template>

<script>
    export default {
        methods: {
            open3() {
                this.$notify({
                    title: '成功',
                    message: '这是一条成功的提示消息',
                    type: 'success'
                });
            },
        }
    }
</script>