// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css");
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html {
  position: relative;
  min-height: 100% ;
}

.main{
  margin-top: 0.5rem;
}
//.card{
//  margin-top: 0.5rem;
//}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;/*脚部的高度*/
}

.main-container{
  padding-bottom: 60px;/*等于footer的高度*/
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

p > span {
  height: 48px;
  line-height: 41px;
}

.aw-user-name {
  padding-left: 5px;
}

.aw-user-img {
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.main .row  .card{
  border: 0 solid #e6e5e5;
}
.main .row .card form textarea{
  overflow: hidden;
  word-wrap: break-word;
  resize: horizontal;
  height: 133.989px
}
 .meta .action {
  display: inline-block;
  margin-right: 12px;
}
.meta i.fa-smile-o {
  font-size: 1.2em;
}
.meta a, .operate a {
  padding: 1px 2px;
  color: #a9a7a7;
  text-decoration: none;
}
.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
}

.media-right, .media > .pull-right {
  padding-left: 18px;
}
.tweets-list .details .user-name {
  margin-right: 4px;
}

.tweets-list .details {
  padding: 18px 0;
}
#wrap .avatar {
  padding: 3px;
}
.avatar {
  border-radius: 50%;
}

.tweets-list .details .infos {
  margin-top: 10px;
  margin-left: 64px;
}

.list-group-item.media .infos {
  margin-top: 16px;
  margin-left: 66px;
}
.tweets-list .media {
  margin-top: 10px;
}
.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
}
.media-object.img-thumbnail {
  max-width: none;
}

.panel .panel-heading {
  border-bottom: 2px solid #eeeeee;
}
.col-md-3 .media-body{
  padding-left: 0.5rem;
}
.col-md-3 .media{
  padding-top: 0.8rem;
}

.panel .panel-heading h3 {
  color: #999;
  font-size: 18px;
}
a{
  color: #2ab27b;
}
a:hover{
  color: #2ab27b;
  text-decoration:none;
}
#navbarSupportedContent li a{
  color: #2ab27b;
  font-size: 1rem;
}

//#navbarSupportedContent li a:hover{
//  //color: #2ab27b;
//  transform: rotateY(360deg);
//  -webkit-transform: rotateY(360deg);	/* Safari 和 Chrome */
//  -moz-transform: rotateY(360deg);	/* Firefox */
//  transition: width 2s, height 2s, transform 2s;
//  -moz-transition: width 2s, height 2s, -moz-transform 2s;
//  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
//  -o-transition: width 2s, height 2s,-o-transform 2s;
//}
textarea{
  color: #2ab27b !important;
}
.emoji-picker-icon{
  position: unset !important;
  margin-top: 19px;
  font-size: 16px !important;
}

.emoji-menu {
  //position: absolute;
  left: 0;
  margin-top: 35px;
  z-index: 999;
  width: 225px;
  overflow: hidden;
  border: 1px #dfdfdf solid;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.reply-form{
  margin-bottom: 10rem;
}
//.card-body{
//  border-bottom: 0.01rem solid #e6e5e5;
//}

.data_info_s{
  width: calc(100% - 30px);
  float: right;
  margin-top:15px;
}
#navbarSupportedContent li{
  list-style-type: none;
}
#navbarSupportedContent .dropdown .user-avatar img{
  margin-top: 3px;
 }
.UserCard-profile {
  text-align: left;
  //padding-left: 130px;
  max-width: 800px;
}
.Hero h2 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
}
.UserCard-identity {
  font-weight: normal;
  display: inline;
  vertical-align: middle;
}
.UserCard-badges {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
  display: inline-block;
}

.UserCard-info {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}
.UserCard-info .item-bio {
  display: block;
  margin: 0;
}

.UserHero .Badge {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  line-height: 22px;
  background: #667c99;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.35);
  box-shadow: 0 2px 4px rgba(0,0,0,0.35);
}
.UserCard-info .item-bio {
  display: block;
  margin: 0;
}
.UserBio, .UserBio textarea {
  font-size: 14px;
}

.UserBio {
  margin: -10px -10px 10px;
  border: 1px dashed transparent;
  border-radius: 4px;
}
.UserBio-content {
  padding: 10px 10px 1px;
}
.UserCard-info>li {
  display: inline-block;
  margin-right: 15px;
}



.UserCard, .UserCard a {
  color: #667c99;;
}
.UserCard {
  background: #e8ecf3;
  background-size: 100% 100%;
}
.Hero {
  margin-top: -1px;
  background: #e8ecf3;
  text-align: center;
  color: #667c99;
}

.Badge--social {
  //background: transparent;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
}
 .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #30989B;
}
.container .user{
  display: inline-block !important;
  float: left;
}
.user-right{
  float: right;
}
.avatar{
  width: 50px;
  height: 50px;
}
.infos{
  display: flex;
  height: 50px;
}
.infos .media-heading{
  align-self: center;
  margin-left:5px;
}
.list-group-item  .reply_count_area{
  height:22px;
  margin-top:14px;
}
@media (max-width: 767px){
  .list-group-item  .reply_count_area{
    display: none;
  }
}

.root-page {
  margin-top: 0.5rem;
}
.card .tags span:hover{
  color:red;
  cursor: pointer;
  transform:rotate(8deg);
  -ms-transform:rotate(8deg); 	/* IE 9 */
  -moz-transform:rotate(8deg); 	/* Firefox */
  -webkit-transform:rotate(8deg) scale(1.2); /* Safari 和 Chrome */
  -o-transform:rotate(8deg); 	/* Opera */
}

.notifications-badge {
  margin-top: -1;

  .badge-fade {
    background-color: #EBE8E8;
  }

  .badge-hint {
    background-color: #d15b47 !important;;
  }
}
.notifications-index{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.reply-content-body .media-heading{
  line-height: 50px;
  padding-left: 0.5rem;
}
.reply-content-body .reply-content{
  padding-left: 0.5rem;
}

.reply-content-body .media-heading .meta{
  color: #a9a7a7;
  font-size: 12px;
}
.text_reploy{
  padding-left: 18px;

}
.text_reploy p{
  margin-bottom: 0.5rem;
}

.to-top{
  //background: #2ab27b;
  color: #2ab27b;
  padding: 15px;
  border-radius: 5px;

  transition: All 1s ease-in-out;
  -webkit-transition: All 1s ease-in-out;
  -moz-transition: All 1s ease-in-out;
  -o-transition: All 1s ease-in-out;
}
.to-top:hover{
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
}

blockquote {
  margin: 0rem 0rem;
  margin-right: 1rem;
  background: #f5f8fc;
  border-left: 2px solid #28A752;
  padding-left: 1rem;
}

.footer-contact{
  padding-right: 8px;
}
.text-md{
  font-size: 1.2em;
}
.site{
  margin-bottom: 1rem;
}
.site-index{
  margin-bottom: 1rem;
}

.site a {
  color: #777;
}
.site a:hover {
  color: #2ab27b;
}

.replay-data{
  margin-top:0.4rem;
}

.replay-content img{
  width: 100%;
}

.login-qq{
  width: 36px !important;
  height: 36px !important;
  font-size:2.37rem;
}
